<div id="<%= dom_id room %>">
  <div>
    <strong>Room number:</strong>
    <%= room.room_number %>
  </div>

  <div>
    <strong>Bed count:</strong>
    <%= room.bed_count %>
  </div>

  <div>
    <strong>Is free:</strong>
    <%= room.is_free %>
  </div>

</div>
